In [1]:
import numpy as np
import pandas as pd

In [2]:
# add these to db tables, pull using sql
swim_ftp = 1.57
bike_ftp = 164
bike_lthr = 162
run_ftp = 6.93
run_lthr = 174

In [65]:
ctl = 20
atl = 20
increment = 30
load = ctl + increment
week_load = load * 7
include_strength = False

In [56]:
week_loading = pd.DataFrame([pd.Series([load*7, load*7*.9, load*7, load*7*1.1], 
                                       index=['Basic', 'Week 1', 'Week 2', 'Week 3'])], index=['TSS/wk'])

In [59]:
num_sessions = 3

In [64]:
pd.DataFrame(np.zeros((3, num_sessions)), index=['Swim', 'Bike', 'Run'], columns=['Long', 'Maintenance', 'Easy'])

      Long  Maintenance  Easy
Swim   0.0          0.0   0.0
Bike   0.0          0.0   0.0
Run    0.0          0.0   0.0

In [70]:
pd.DataFrame(np.array([[week_load*0.2*0.4, week_load*0.2*0.35, week_load*0.2*0.25],
                      [week_load*0.5*0.4, week_load*0.5*0.35, week_load*0.5*0.25],
                      [week_load*0.3*0.4, week_load*0.3*0.35, week_load*0.3*0.25]]),
             index=['Swim', 'Bike', 'Run'],
             columns=['Long', 'Maintenance', 'Easy'])

      Long  Maintenance   Easy
Swim  28.0        24.50  17.50
Bike  70.0        61.25  43.75
Run   42.0        36.75  26.25

In [79]:
sess = pd.DataFrame(columns=['Time', 'Effort'])

In [87]:
sess = sess.append(pd.Series([5, 0.5], index=['Time', 'Effort']), ignore_index=True)

In [96]:
def add_session(df, interval):
    print(interval)
    print(pd.Series(interval, index=['Time', 'Effort']))
    df = df.append(pd.Series(interval, index=['Time', 'Effort']), ignore_index=True)
    return df

In [99]:
sess = add_session(sess, [5, 0.6])

[5, 0.6]
Time      5.0
Effort    0.6
dtype: float64

In [100]:
sess

   Time  Effort
0   5.0     0.5
1   5.0     0.6