In [148]:
import numpy as np
import pandas as pd
from decimal import Decimal
import math

In [149]:
CSS = 1.5
FTP = 227
FTPa = 6.83
IF = 0.85

In [150]:
m_bike = 20 #mass of bike, kg
m_rider = 68 #mass of rider, kg
m_tot = m_bike + m_rider
g = 9.81 #acceleration due to gravity, m/s^2
Crr = 0.002475 #Coefficient of rolling friction
CDA = 0.32
rho = 1.29
f_roll = m_tot * g * Crr
c1 = 0.5 * rho * CDA
q = -FTP / c1

In [151]:
data = pd.read_csv('RockNRollMan2.txt', header=None)

In [152]:
data.head()

                                                   0
0             <?xml version="1.0" encoding="UTF-8"?>
1  <gpx creator="Best Bike Split" version="1.0" x...
2                                         <metadata>
3                    <link href="bestbikesplit.com">
4                       <text>Best Bike Split</text>

In [153]:
data.shape

(47995, 1)

In [154]:
data = data[:][0]

In [155]:
data.head()

0               <?xml version="1.0" encoding="UTF-8"?>
1    <gpx creator="Best Bike Split" version="1.0" x...
2                                           <metadata>
3                      <link href="bestbikesplit.com">
4                         <text>Best Bike Split</text>
Name: 0, dtype: object

In [156]:
columns = ['lat', 'lon', 'ele']

In [157]:
df = pd.DataFrame(columns = columns)

In [158]:
df

Empty DataFrame
Columns: [lat, lon, ele]
Index: []

In [159]:
for idx, row in data.iteritems():
    if '<trkpt' in row:
        for item in (row.strip()).split(' '):
            if 'lat' in item:
                lat = float(item[5:len(item)-1])
            elif 'lon' in item:
                lon = float(item[5:len(item)-2])
        if '<ele>' in data[idx+1]:
            ele = float(data[idx+1].strip()[5:len(data[idx+1].strip())-6])
        df = df.append({'lat':lat, 'lon':lon, 'ele':ele}, ignore_index=True)

In [160]:
df.head()

        lat        lon    ele
0  32.82591 -83.787985  122.1
1  32.82591 -83.787985  122.1
2  32.82591 -83.787985  122.1
3  32.82591 -83.787985  122.1
4  32.82591 -83.787985  122.1

In [161]:
df.drop_duplicates(inplace=True)

In [162]:
def calc_distance(lat, lon):
    sum_phi = (lat[1:] + lat[:-1]) * math.pi / 180
    del_lam = (lon[1:] - lon[:-1]) * math.pi / 180
    x = del_lam * np.cos(sum_phi/2)
    y = (lat[1:] - lat[:-1]) * math.pi / 180
    return 3959.0 * np.sqrt(np.power(x, 2) + np.power(y, 2)) * 5280.0

In [164]:
d = calc_distance(np.array(df['lat'].values), np.array(df['lon'].values))

In [165]:
grade = np.array(df['ele'][1:].values - df['ele'][:-1].values) / d

In [166]:
df = df.iloc[1:]

In [167]:
df.reset_index(drop=True, inplace=True)

In [168]:
df.insert(loc=df.shape[1], column='d', value=d)

In [169]:
df.insert(loc=df.shape[1], column='grade', value=grade)

In [170]:
df.head()

         lat        lon    ele          d     grade
0  32.825951 -83.787965  122.2  16.166179  0.006186
1  32.825959 -83.787957  122.3   3.812361  0.026230
2  32.825967 -83.787950  122.3   3.622739  0.000000
3  32.825975 -83.787940  122.4   4.232937  0.023624
4  32.825983 -83.787930  122.4   4.232937  0.000000

In [171]:
def cube_root(value):
    if value > 0:
        return value ** (1./3)
    else:
        return -((-value) ** (1./3))

In [172]:
def calc_v_ms(grade):
    c2 = (np.sin(np.arctan(grade)) + Crr) * m_tot * g
    p = c2 / c1
    u3 = np.sqrt((q**2)/4 + (p**3)/27) + (-q/2)
    v3 = -np.sqrt((q**2)/4 + (p**3)/27) + (-q/2)
    
    u3_cube_root = []
    for i in u3:
        u3_cube_root.append(cube_root(i))
    
    v3_cube_root = []
    for j in v3:
        v3_cube_root.append(cube_root(j))

    return np.array(u3_cube_root) + np.array(v3_cube_root)

In [174]:
v_ms = calc_v_ms(grade)

In [175]:
df.insert(loc=df.shape[1], column='v_ms', value=v_ms)

ValueError: cannot insert v_ms, already exists

In [176]:
df.head()

         lat        lon    ele          d     grade      v_ms
0  32.825951 -83.787965  122.2  16.166179  0.006186  9.157994
1  32.825959 -83.787957  122.3   3.812361  0.026230  6.679861
2  32.825967 -83.787950  122.3   3.622739  0.000000  9.988025
3  32.825975 -83.787940  122.4   4.232937  0.023624  6.972089
4  32.825983 -83.787930  122.4   4.232937  0.000000  9.988025

In [177]:
df['v_mph'] = df['v_ms'] * 3.6 * 0.621371

In [178]:
df.head()

         lat        lon    ele          d     grade      v_ms      v_mph
0  32.825951 -83.787965  122.2  16.166179  0.006186  9.157994  20.485844
1  32.825959 -83.787957  122.3   3.812361  0.026230  6.679861  14.942418
2  32.825967 -83.787950  122.3   3.622739  0.000000  9.988025  22.342569
3  32.825975 -83.787940  122.4   4.232937  0.023624  6.972089  15.596115
4  32.825983 -83.787930  122.4   4.232937  0.000000  9.988025  22.342569

In [179]:
df['f_climb'] = np.sin(np.arctan(grade)) * m_tot * g

In [180]:
df['f_air'] = 0.5 * rho * df['v_ms']**2 * CDA

In [181]:
df['f_total'] = f_roll + df['f_climb'] + df['f_air']

In [182]:
df.head()

,lat,lon,ele,d,grade,v_ms,v_mph,f_climb,f_air,f_total
0,32.825951,-83.787965,122.2,16.166179,0.006186,9.157994,20.485844,5.339935,17.310533,24.787086
1,32.825959,-83.787957,122.3,3.812361,0.026230,6.679861,14.942418,22.636447,9.209679,33.982745
2,32.825967,-83.787950,122.3,3.622739,0.000000,9.988025,22.342569,0.000000,20.590597,22.727215
3,32.825975,-83.787940,122.4,4.232937,0.023624,6.972089,15.596115,20.388662,10.033110,32.558390
4,32.825983,-83.787930,122.4,4.232937,0.000000,9.988025,22.342569,0.000000,20.590597,22.727215

In [183]:
df['t'] = (df['d'] / 5280) / df['v_mph']

In [184]:
df.head()

,lat,lon,ele,d,grade,v_ms,v_mph,f_climb,f_air,f_total,t
0,32.825951,-83.787965,122.2,16.166179,0.006186,9.157994,20.485844,5.339935,17.310533,24.787086,0.000149
1,32.825959,-83.787957,122.3,3.812361,0.026230,6.679861,14.942418,22.636447,9.209679,33.982745,0.000048
2,32.825967,-83.787950,122.3,3.622739,0.000000,9.988025,22.342569,0.000000,20.590597,22.727215,0.000031
3,32.825975,-83.787940,122.4,4.232937,0.023624,6.972089,15.596115,20.388662,10.033110,32.558390,0.000051
4,32.825983,-83.787930,122.4,4.232937,0.000000,9.988025,22.342569,0.000000,20.590597,22.727215,0.000036

In [185]:
df['t'].sum()

2.5669078837514947

In [186]:
df['d'].sum() / 5280

56.03166225362827

In [187]:
df['v_mph'].mean()

21.764019304548974

In [75]:
CSS_m_min = 100 / CSS

In [76]:
swim_m_min = CSS_m_min * IF

In [77]:
s_t = (1.2 * 1609.344) / (swim_m_min * 60)

In [78]:
s_TSS = IF**4 * 100 * s_t

In [79]:
b_TSS = IF**2 * 100 * df['t'].sum()

In [80]:
rFTP = 60/FTPa

In [81]:
run_min_mi = rFTP * IF

In [82]:
r_t = 13.1 / run_min_mi

In [83]:
r_TSS = IF**2 * 100 * r_t

In [84]:
df['t']

1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
30           NaN
          ...
9533         NaN
9534    0.000060
9535         NaN
9536    0.000041
9537         NaN
9538    0.000030
9539         NaN
9540    0.000030
9541         NaN
9542         NaN
9543    0.000023
9544         NaN
9545    0.000029
9546         NaN
9547         NaN
9548    0.000032
9549         NaN
9550    0.000035
9551         NaN
9552    0.000029
9553         NaN
9554    0.000028
9555         NaN
9556    0.000027
9557         NaN
9558         NaN
9559         NaN
9560    0.000004
9561         NaN
9562         NaN
Name: t, dtype: float64

In [85]:
df['v_ms']

1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
12            NaN
13            NaN
14            NaN
15            NaN
16            NaN
17            NaN
18            NaN
19            NaN
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
26            NaN
27            NaN
28            NaN
29            NaN
30            NaN
          ...
9533          NaN
9534    11.619578
9535          NaN
9536    12.233558
9537          NaN
9538    12.911641
9539          NaN
9540    12.897217
9541          NaN
9542          NaN
9543    13.629107
9544          NaN
9545    12.960594
9546          NaN
9547          NaN
9548    12.746904
9549          NaN
9550    12.583272
9551          NaN
9552    12.994966
9553          NaN
9554    13.084255
9555          NaN
9556    13.196769
9557          NaN
9558          NaN
9559          NaN
9560    10.322195
9561          NaN
9562          NaN
Name: v_ms, dtype: float64

In [86]:
df['u3']

1       1155.239947
2       1099.843557
3       1141.962824
4       1099.843557
5       1155.239968
6       1099.843557
7       1161.986955
8       1099.843557
9       1099.843557
10      1148.274760
11      1099.843557
12      1099.843557
13      1155.240023
14      1099.843557
15      1099.843557
16      1166.800268
17      1099.843557
18      1099.843557
19      1138.404041
20      1099.843557
21      1127.544895
22      1099.843557
23      1131.746024
24      1099.843557
25      1099.843557
26      1099.843557
27      1114.799053
28      1099.843557
29      1099.843557
30      1099.843557
           ...
9533    1099.843557
9534    1097.587177
9535    1099.843557
9536    1092.571846
9537    1099.843557
9538    1081.241738
9539    1099.843557
9540    1081.564723
9541    1099.843557
9542    1099.843557
9543    1059.263831
9544    1099.843557
9545    1080.115027
9546    1099.843557
9547    1099.843557
9548    1084.696734
9549    1099.843557
9550    1087.651182
9551    1099.843557
9552    1079.295171
9553    1099.843557
9554    1077.050868
9555    1099.843557
9556    1073.976239
9557    1099.843557
9558    1099.843557
9559    1099.843557
9560    1099.806202
9561    1099.843557
9562            NaN
Name: u3, dtype: float64

In [90]:
df['v3']

1      -55.433745
2       -0.037356
3      -42.156622
4       -0.037356
5      -55.433767
6       -0.037356
7      -62.180753
8       -0.037356
9       -0.037356
10     -48.468558
11      -0.037356
12      -0.037356
13     -55.433821
14      -0.037356
15      -0.037356
16     -66.994067
17      -0.037356
18      -0.037356
19     -38.597840
20      -0.037356
21     -27.738693
22      -0.037356
23     -31.939822
24      -0.037356
25      -0.037356
26      -0.037356
27     -14.992852
28      -0.037356
29      -0.037356
30      -0.037356
          ...
9533    -0.037356
9534     2.219024
9535    -0.037356
9536     7.234356
9537    -0.037356
9538    18.564463
9539    -0.037356
9540    18.241478
9541    -0.037356
9542    -0.037356
9543    40.542370
9544    -0.037356
9545    19.691174
9546    -0.037356
9547    -0.037356
9548    15.109467
9549    -0.037356
9550    12.155019
9551    -0.037356
9552    20.511031
9553    -0.037356
9554    22.755334
9555    -0.037356
9556    25.829963
9557    -0.037356
9558    -0.037356
9559    -0.037356
9560     0.000000
9561    -0.037356
9562          NaN
Name: v3, dtype: float64

In [91]:
def cube_root(value):
    if value > 0:
        return value ** 1./3
    else:
        return -((-value) ** 1./3)

In [ ]:
def calc_v_ms(row):
    return cube_root(row['u3']) + cube_root(row['v3'])